@use './mixins/mixins.scss' as *; //没有命名空间

@font-face {
  font-family: "z-ui-icon";
  /* Project id 4623289 */
  src: url('./fonts/iconfont.woff2') format('woff2'),
    url('./fonts/iconfont.woff') format('woff'),
    url('./fonts/iconfont.ttf') format('truetype'),
    // url('./fonts/iconfont.svg') format('svg');
}

[class^="#{$namespace}-icon"],
[class*="#{$namespace}-icon"] {
  font-family: "z-ui-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$namespace}-icon-xiaoxi-zhihui:before {
  content: "\e61d";
}

.#{$namespace}-icon-xihuan:before {
  content: "\e61e";
}

.#{$namespace}-icon-gengduo:before {
  content: "\e61f";
}

.#{$namespace}-icon-shouye-zhihui:before {
  content: "\e620";
}

.#{$namespace}-icon-gerenzhongxin-zhihui:before {
  content: "\e621";
}

.#{$namespace}-icon-kandian-zhihui:before {
  content: "\e622";
}

.#{$namespace}-icon-fanhui:before {
  content: "\e623";
}

.#{$namespace}-icon-guanzhu-zhihui:before {
  content: "\e624";
}

.#{$namespace}-icon-guanbi:before {
  content: "\e625";
}

.#{$namespace}-icon-dingwei:before {
  content: "\e626";
}

.#{$namespace}-icon-tianxuangouren:before {
  content: "\e627";
}

.#{$namespace}-icon-a-xiala2:before {
  content: "\e628";
}

.#{$namespace}-icon-bianji:before {
  content: "\e629";
}

.#{$namespace}-icon-jinru:before {
  content: "\e62a";
}

.#{$namespace}-icon-tishi:before {
  content: "\e62b";
}